saved-model-weights/
8170218/

venv/

punkt-truly-all-amrs/

punkt-truly-all-amrs.tar

.claude/

__pycache__/

*.zip

*.amr

*.pt

node_modules/

implementasi-tesis/Raw_English_2159/

Earnings-Call-Experiments/GATv2/tracking-files/

Earnings-Call-Experiments/amrs-to-graphs/truly-all-results-graphs-*/

graph-visualizer/backend/uploads/

